doctype html
html(lang="en")
    head
        if htmlWebpackPlugin.options.meta
            each content, name in htmlWebpackPlugin.options.meta
                meta(name=name content=content)

        if htmlWebpackPlugin.options.styles
            each style in htmlWebpackPlugin.options.styles
                link(type="text/css" rel="stylesheet" href=style)

        if htmlWebpackPlugin.options.scripts
            each script in htmlWebpackPlugin.options.scripts
                script(type="text/javascript" src=script)

        title= htmlWebpackPlugin.options.title
    body
        div#mount-point